body {
    font-family: "Roboto", sans-serif;
	background: url(img13.jpg) no-repeat;
    font-size: 17px;
 	margin: 0;
 	padding: 0;
 	font-family: sans-serif;
 	background-width: 100%;
    background-height: 100vh;
    background-position: center top;
	background-size:cover;*/
 }

.btn {
 	width: 280px;
 	background: none;
 	border-style: 2px solid #FFFFFF;
 	color: white;
 	padding: 5px;
 	font-size: 18px;
 	cursor: pointer;
 	margin: 12px 0;
 	outline: 1px solid #4caf50;
 }
 
.login-box{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.login-box h1{
	float: right;
	font-size: 40px;	
	border-bottom: 6px solid #4caf50;	
	margin-bottom: 35px;
	padding: 5px 0;	
}

.textbox{
	width: 100%;
	font-size: 13px;
	padding: 15px 0;
    margin: 15px 0;	
    border-bottom: 1px solid #4caf50;
}	

.textbox i{
	width: 100px;
	float: left;
	text-align: center;
}

.textbox input{
	border: none;
	outline-style: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 100%;
	float: left;
	margin: 0 10px;
}